<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>for循环</title>
		<script src="js/vue.js" type="text/javascript" charset="UTF-8 "></script>
	</head>
	<body>
		<div id="myApp">
			<h3>游戏列表</h3>
			<!-- Virtual DOM
			如果seen为false的话，页面加载该标签都不会加载到DOM树上
			 -->
			<div v-if="seen">2017年最新发布</div>
			<ol>
				<li v-bind:key="index" v-for="(game, index) in games">{{game.title}} / {{game.price}}</li>
			</ol>
			<p>for循环遍历对象</p>
			<div>
				<ul>
					<li v-for="(v, k, i) in user"> {{k + '..' + v + '...' + i}}</li>
				</ul>
			</div>
		</div>
		<script>
			var myApp = new Vue({
				el: '#myApp',
				data: {
					seen: false,
					games: [
						{
							title: 'LOL',
							price: 200
						},
						{
							title: '刀塔2',
							price: 300
						}
					],
					user: {
						name: '小白',
						age: 26
					}
				}
			});
		</script>
	</body>
</html>
