<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>表单复选框</title>
		<script src="./vue.js" type="text/javascript" charset="UTF-8"></script>
	</head>
	<body>
		<div id="myApp">
			<p>表单复选框</p>
			<!-- 
			当勾选该条目时，value的值会添加到数组当中去
			 -->
			<input type="checkbox" id="id1" value="LOL" v-model="games" />
			<label for="LOL">LOL</label><br />
			
			<input type="checkbox" id="id2" value="DNF" v-model="games" />
			<label for="DNF">DNF</label><br />
			
			<input type="checkbox" id="id3" value="Dota" v-model="games" />
			<label for="Dota">Dota</label>
			<p>你选择的游戏是: {{games}}</p>
		</div>
		<script>
			var myApp = new Vue({
				el: '#myApp',
				data: {
					games: []
				}
			});
		</script>
	</body>
</html>
