<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>父组件向子组件传递</title>
    <script src="../js/vue.js" type="text/javascript" charset="UTF-8"></script>
</head>
<body>
<div id="myApp">
<menu-item title="myApp父组件数据"></menu-item>
<menu-item v-bind:title="ptitle"></menu-item>
</div>
<script>
    Vue.component('menu-item', {
        props: ['title'],
        data: function () {
            return {
                msg: '子组件'
            }
        },
        template: '<div>{{msg}}...{{title}}</div>'
    })
    var myApp = new Vue({
        el: '#myApp',
        data: {
            ptitle: '绑定数据'
        }
    })
</script>

</body>
</html>