<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>局部组件</title>
		<script src="../js/vue.js" type="text/javascript" charset="UTF-8"></script>
	</head>
	<body>
		<div id="myApp">
			<h4>今天天气:</h4>
			<weather></weather>
			------------------
			<test></test>
		</div>
		
		<script>
			// 在该全局组件中使用<weather-component>组件,会报错
			// Unknown custom element: <weather-component> - did you register the component correctly?
			// For recursive components, make sure to provide the "name" option
			Vue.component('test', {
				template:
				`<div>
                   <p>test</p>
<!--                   <weather-component></weather-component>-->
                </div>`
			})
			// 声明一个局部组件,局部组件只能在myApp中使用
			var weatherComponent = {
				template: '<div>下大雨</div>'
			};
			var myApp = new Vue({
				el: '#myApp',
				data: {},
				components: {
					'weather': weatherComponent
				}
			});
		</script>
	</body>
</html>
